.blog-list {
  display: block;
  gap: 1rem;
  margin: 0 auto;
  /* width: 50%; */
}
.blog-preview {
  display: block;
  color: black;
  padding: 0;
  margin: 10px auto;
}
.blog-preview:hover {
  display: block;
  color: white;
  background-color: darkgrey;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 4px 3px 0 black;
}
.blog-preview p {
  display: block;
  color: black;
  text-align: center;
  /* width: 50%; */
  margin: auto;
  font-size: 18px;
}

.blog-preview a {
  color: black;
  text-decoration: none;
  width: 50%;
}
