.Blog_detail {
  display: block;
  text-align: center;
  margin: 60px auto;
  color: black;
}
.Blog_detail h1 {
  display: block;
  text-align: left;
  font-size: 35px;
  width: 50%;
  margin: 5px auto;
}

.Blog_detail p {
  display: block;
  text-align: left;
  width: 50%;
  margin: 5px auto;
}
@media screen and (width <= 768px) {
  .Blog_detail h1 {
    width: 85%;
  }
  .Blog_detail p {
    width: 85%;
  }
}
